version: '3.5'

networks:
  reverse-proxy:
    name: ${COMPOSE_NETWORK_REVERSE_PROXY}
    external: true

services:

  nginx:
    container_name: ${COMPOSE_PROJECT_NAME}_nginx
    image: ${COMPOSE_PROJECT_NAME}/nginx
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
      args:
        - "DOCKER_IMAGE_NODE=${DOCKER_IMAGE_NODE}"
    restart: ${COMPOSE_RESTART}
    environment:
      - "SOUNDCLOUD_CLIENT_ID=${SOUNDCLOUD_CLIENT_ID}"
      - "SOUNDCLOUD_REDIRECT_URI=${SOUNDCLOUD_REDIRECT_URI}"
    networks:
      - reverse-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:${HOST}"
      - "traefik.frontend.priority=10"
      - "traefik.docker.network=${COMPOSE_NETWORK_REVERSE_PROXY}"
      - "traefik.port=80"
