* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #333;
    font-family: "Rajdhani", sans-serif;
    color: #7f88a2;
}

.clear {
    clear: both;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding-right: 50px;
    padding-left: 1vw;
}

#wrapper {
    padding: 2vh 1vw 2vh 1vw;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: opacity, padding-bottom;
    transition-duration: 0.5s, 0.5s;
    max-width: 50vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body.fftShow #wrapper {
    padding-bottom: 12vh;
}

body.fftShow.fftEnlarge #wrapper {
    padding-bottom: 2vh;
}

body.fftShow.fftEnlarge.playing #wrapper {
    opacity: 0;
}

body.fftShow.fftEnlarge.playing #wrapper:hover {
    opacity: 1;
}

#refresh {
    float: right;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#refresh.active {
    color: #d27a99;
}

.track-wrapper {
    padding: 2px 10px 2px 15px;
}

.track-wrapper a {
    color: #4d4f53;
    float: right;
    font-size: small;
}

.track-wrapper .fa-external-link {
    margin-top: 7px;
}

.track {
    cursor: pointer;
    width: 90%;
}

.track:hover {
    color: #96a0bf;
}

.track.active {
    color: #e188ba !important;
}

.track i {
    color: #4f535c;
    margin-right: 10px;
}

.track:hover i {
    color: #7f88a2;
}

.track.active i {
    color: #d27a99 !important;
}

#fft {
    z-index: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition-property: height, opacity;
    transition-duration: 0.5s;
}

body.fftShow.playing #fft {
    opacity: 1;
    z-index: 2;
}

body.fftShow.fftEnlarge #fft {
    z-index: 0 !important;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#controls-content,
#controls-playback {
    padding: 2vh 1vw;
    background: rgba(0, 0, 0, 0.2);
    color: #7f88a2;
    border-radius: 2px;
}

#controls {
    z-index: 3;
    position: fixed;
    top: 2vh;
    right: 1vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#controls-icon,
#controls-content-wrapper {
    transition-property: opacity, top, right;
    transition-duration: 0.3s;
}

#controls-icon {
    position: absolute;
    top: 0;
    right: 0;
}

#controls-content-wrapper {
    position: absolute;
    opacity: 0;
    top: 2vh;
    right: 2vw;
}

#controls:hover #controls-icon {
    opacity: 0;
    top: 2vh;
    right: 2vw;
}

#controls:hover #controls-content-wrapper {
    opacity: 1;
    top: 0;
    right: 0;
    padding-left: 2vw;
    padding-bottom: 2vh;
}

#controls-playback {
    z-index: 3;
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    display: flex;
    opacity: 0;
    transition-property: background-color, bottom;
    transition-delay: 0s, 0.5s;
    transition-duration: 0.5s, 0.5s;
    min-width: 40vw;
    max-width: 50vw;
}

@keyframes controlsPlaybackIn {
    0% {
        opacity: 0;
        transform: translateX(2vw);
    }
    100% {
        opacity: 1;
    }
}

body.playing #controls-playback {
    opacity: 1;
    animation: 0.5s controlsPlaybackIn ease;
}

body.fftShow #controls-playback {
    bottom: 12vh;
}

body.fftShow.fftEnlarge #controls-playback {
    bottom: 2vh;
}

#controls-playback a {
    color: #4d4f53;
    float: right;
    font-size: small;
}

#controls-playback-img-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 1vw;
}

#controls-playback-content {
    flex: 1;
}

#controls-playback-content > i {
    float: left;
    cursor: pointer;
    margin-right: 1vw;
    color: #d27a99;
    margin-top: 5px;
}

#controls-playback-artist {
    color: #e188ba;
    font-weight: bold;
}

#controls-playback-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75%;
    height: 1.2em;
    white-space: nowrap;
}

body.fftShow.fftEnlarge #wrapper,
body.fftShow.fftEnlarge #controls-content {
    background: rgba(0, 0, 0, 0.8);
}

body.fftShow.fftEnlarge #controls-playback {
    background-color: rgba(0, 0, 0, 0.6);
}

body.fftShow.fftEnlarge.controlsOver #controls-playback,
body.fftShow.fftEnlarge #controls-playback:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#controls-wave {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

md-select-menu md-content {
    background: #222;
}

md-select-menu md-content md-option {
    color: #888;
}

md-select-menu md-content md-option:hover,
md-select-menu md-content md-option[selected] {
    background: #333 !important;
}
