/* rajdhani-latin-400-normal */
@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src:
    url(@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff)
      format("woff");
}

/* rajdhani-latin-700-normal */
@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src:
    url(@fontsource/rajdhani/files/rajdhani-latin-700-normal.woff2)
      format("woff2"),
    url(@fontsource/rajdhani/files/rajdhani-latin-700-normal.woff)
      format("woff");
}

/* rajdhani-latin-ext-400-normal */
@font-face {
  font-family: "Rajdhani-ext";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src:
    url(@fontsource/rajdhani/files/rajdhani-latin-ext-400-normal.woff2)
      format("woff2"),
    url(@fontsource/rajdhani/files/rajdhani-latin-ext-400-normal.woff)
      format("woff");
}

/* rajdhani-latin-ext-700-normal */
@font-face {
  font-family: "Rajdhani-ext";
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src:
    url(@fontsource/rajdhani/files/rajdhani-latin-ext-700-normal.woff2)
      format("woff2"),
    url(@fontsource/rajdhani/files/rajdhani-latin-ext-700-normal.woff)
      format("woff");
}
