<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
    <title>SoundCloud Reverse</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?v=1">
</head>
<body ng-controller="MainCtrl"
      ng-class="{
      'playing':currentPlayingTrack !== null,
      'fftShow':settings.fftShow,
      'fftEnlarge':settings.fftEnlarge,
      'controlsOver':controlsOver
      }" ng-cloak>
<div id="welcome" ng-if="!ready">
    <md-progress-linear md-mode="indeterminate" ng-if="loginIn"></md-progress-linear>
    <md-button class="md-raised md-primary" ng-click="init()">Connect with SoundCloud</md-button>
    <md-progress-linear md-mode="indeterminate" ng-if="loginIn"></md-progress-linear>
    <p ng-bind="view.loginCurrentState" ng-if="view.loginCurrentState !== null"></p>
</div>
<div id="container" ng-show="ready">
    <div id="wrapper" ng-mouseenter="controlsOver = true" ng-mouseleave="controlsOver = false">
        <i id="refresh" class="fa fa-refresh" aria-hidden="true"
           ng-class="{'active':refreshing, 'fa-spin':refreshing}"
           ng-click="init(true)"></i>
        <md-select ng-model="settings.selectedPlaylistID" aria-label="playlists" style="width:90%;">
            <md-option ng-repeat="playlist in playlists" ng-value="playlist.id">
                {{playlist.title}}
            </md-option>
        </md-select>
        <div ng-show="settings.selectedPlaylistID !== null"
             ng-repeat="track in playlists.find(helper.findByID(settings.selectedPlaylistID)).tracks"
             class="track-wrapper"
             ng-click="play(playlists.find(helper.findByID(settings.selectedPlaylistID)), track)">
            <a ng-href="{{ track.permalink_url }}" target="_blank">
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
            <div class="track"
                 ng-class="{'active':currentPlayingTrack!== null && currentPlayingTrack.id === track.id}">
                <i class="fa fa-play" aria-hidden="true"></i>
                [ <span ng-bind="track.user.username"></span> ] <span ng-bind="track.title"></span>
            </div>
        </div>
    </div>
</div>
<canvas id="fft" ng-show="ready && settings.fftShow"></canvas>
<div id="controls" ng-show="ready" ng-mouseenter="controlsOver = true" ng-mouseleave="controlsOver = false">
    <i id="controls-icon" class="fa fa-cog fa-3x"></i>
    <div id="controls-content-wrapper">
        <div id="controls-content">
            <div layout="row">
                <div>
                    <span>Settings</span>
                    <md-switch ng-model="settings.fftShow" class="md-primary">Visual</md-switch>
                    <md-switch ng-show="settings.fftShow" ng-model="settings.fftEnlarge"
                               class="md-primary">Full Screen
                    </md-switch>
                </div>
                <md-slider-container>
                    <span>Volume</span>
                    <md-slider ng-model="settings.volume" min="0" max="100" step="1" round="0"
                               md-vertical aria-label="volume"></md-slider>
                </md-slider-container>
                <md-slider-container ng-show="settings.fftShow">
                    <span>Bars</span>
                    <md-slider ng-model="settings.nbBarsMax" min="0" max="255" step="5" round="0"
                               md-vertical aria-label="bars"></md-slider>
                </md-slider-container ng-show="settings.fftShow" >
                <md-slider-container ng-show="settings.fftShow">
                    <span>Lines</span>
                    <md-slider ng-model="settings.nbLinesMax" min="1" max="50" step="1" round="0"
                               md-vertical aria-label="lines"></md-slider>
                </md-slider-container>
                <md-slider-container ng-show="settings.fftShow">
                    <span>Smooth</span>
                    <md-slider ng-model="settings.smoothing" min="0" max="99" step="1" round="0"
                               md-vertical aria-label="smoothing"></md-slider>
                </md-slider-container>
                <md-slider-container ng-show="settings.fftShow">
                    <span>Accent</span>
                    <md-slider ng-model="settings.accent" min="0" max="100" step="1" round="0"
                               md-vertical aria-label="accent"></md-slider>
                </md-slider-container>
            </div>
            <div style="text-align: right;padding-top:10px;">
                <small ng-click="disconnect()" style="cursor:pointer;"><i>disconnect</i></small>
            </div>
        </div>
    </div>
</div>
<div id="controls-playback">
    <div id="controls-playback-img-placeholder">
        <img ng-if="currentPlayingTrack.artwork_url" ng-src="{{ currentPlayingTrack.artwork_url }}">
    </div>
    <div id="controls-playback-content">
        <i class="fa fa-step-backward fa-2x" ng-click="engine.player.previous()"></i>
        <i class="fa fa-play fa-2x" ng-if="paused" ng-click="engine.player.play()"></i>
        <i class="fa fa-pause fa-2x" ng-if="!paused" ng-click="engine.player.pause()"></i>
        <i class="fa fa-step-forward fa-2x" ng-click="engine.player.next({loop: true})"></i>
        <a ng-href="{{ currentPlayingTrack.permalink_url }}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
        <div ng-bind="currentPlayingTrack.user.username" id="controls-playback-artist"></div>
        <div ng-bind="currentPlayingTrack.title" id="controls-playback-title"></div>
        <div class="clear"></div>
        <canvas id="controls-wave"
                ng-mousemove="renderWaveCursor = $event.originalEvent.pageX"
                ng-mouseleave="renderWaveCursor = 0"
                ng-click="seek()"></canvas>
    </div>
</div>
</body>
</html>
