name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Build Docker Image
      run: docker-compose -f docker-compose.base.yml build
    - name: Deploy
      run: docker-compose -f docker-compose.base.yml up -d --remove-orphans
