name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: self-hosted
    env:
      COMPOSE_APP_VERSION: ${GITHUB_SHA:7}
    steps:
    - uses: actions/checkout@v2
    - name: Set COMPOSE_APP_VERSION environment variable
      run: echo "::set-env name=COMPOSE_APP_VERSION::${GITHUB_SHA::8}"
    - name: Build Docker Image
      run: docker-compose -f docker-compose.base.yml build
    - name: Deploy
      run: docker-compose -f docker-compose.base.yml up -d --remove-orphans
